body {
    font-family: Roboto-Medium;
}

.container{
    width: 1280px;
    margin: 0 auto;
}

ul{
    list-style: none;
}

/*лого сайта*/

.title-ramda{
padding-top: 63px;
padding-bottom: 38px;
text-decoration: none;
font-size: 80px;
line-height: 94px;
display: block
}

.title-black{
    color:black;
}

.title-blue{
    color: #4BCAFF;
}

/*верхнее горизонтальное меню*/

.items{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #35444F;
    height: 72px;
    font-size: 24px;
    line-height: 28px;
}

.link-func, .link-ramda, .link-fant, .link-node{
    color: #FFFFFF;
    text-decoration: none;
    border: 1px solid #FFFFFF;
    border-right-style: none;
    border-top-style:none;
    border-bottom-style: none;
}

.link-func{
    padding: 21px 33px 22px 32px;
}

.link-func:hover {
    color: #FFFFFF;
    background-color: #222F3A;
    padding: 21px 33px 20,1px 32px;
}

.link-ramda{
    padding: 21px 33px 22px 36px;
}

.link-ramda:hover {
    color: #FFFFFF;
    background-color: #222F3A;
    padding: 21px 33px 20,1px 36px;
}

.link-fant{
    padding: 21px 40px 22px 40px;
}

.link-fant:hover {
    color: #FFFFFF;
    background-color: #222F3A;
    padding: 21px 40px 20,1px 40px;
}

.link-node{
    padding: 21px 40px 22px 40px;
}

.link-node:hover {
    color: #FFFFFF;
    background-color: #222F3A;
    padding: 21px 40px 20,1px 40px;
}

/* контент */

.content{
    display: flex;
    margin-top: 48px;
    margin-bottom: 54px;
}

/* вертикальное меню */

.nav{
    width: 344px;
    height: 399px;
    border: 1px solid #000000;
}

.list{
    font-size: 27px;
    width: 344px;
    height: 399px;
    border: 1px solid #000000;
}

.list-nav-padding{
    padding-top: 52px;
}

.list-nav-padding-ramda{
    padding-top: 26px;
}

.list-nav-ra, .list-nav-why, .list-nav-wha, .list-nav-int, .list-nav-phi{
    padding-left: 44px;
    font-size: 27px;
    line-height: 27px;
    color: #485863;
    text-decoration: none;
}
    
.list-nav-ra:hover{
    color: black;
    background-color: #DBDBDB;
    padding-top: 23px;
    padding-left: 70px;
    padding-right: 188px; 
    padding-bottom: 23px;
}

.list-nav-why:hover{
    color: black;
    background-color: #DBDBDB;
    padding-top: 23px;
    padding-left: 70px;
    padding-right: 116px; 
    padding-bottom: 23px;
}

.list-nav-wha:hover{
    color: black;
    background-color: #DBDBDB;
    padding-top: 23px;
    padding-left: 70px;
    padding-right: 68px; 
    padding-bottom: 23px;
}

.list-nav-int:hover{
    color: black;
    background-color: #DBDBDB;
    padding-top: 23px;
    padding-left: 70px;
    padding-right: 112px; 
    padding-bottom: 23px;
}

.list-nav-phi:hover{
    color: black;
    background-color: #DBDBDB;
    padding-top: 23px;
    padding-left: 70px;
    padding-right: 139px; 
    padding-bottom: 26px;
}
   
/* фото */

.content-photo-with-text{
    width: 885px;
    margin-left: 52px;
}

.img{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 529px;
    border: 1px solid #000000;
}

.photo-animation{
    transition: 1s;
}
.photo-animation:hover {
    transform: scale(1.2); 
   }

/* текст под фото */

.text-russian{
    margin-top: 37px;
    margin-bottom: 34px;
}

.text-english, .text-russian{
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}

/* список внизу сайта */

.footer-list{
    display: flex;
    align-items: center;
    background-color: rgba(99, 105, 110, 0.48);
    height: 69px;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
}

.footer-list-padding-ramda{
    padding-left: 40px;
}

.footer-list-padding{
    padding-left: 35px;
}

.footer-list-copyright{
    padding-left: 110px;
    font-size: 24px;
    line-height: 24px;
    color: #010101;
}

.footer-list-hover{
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
    text-decoration: none;
}

.footer-list-hover:hover{
    color:#3181A6; 
    border-bottom: 2px solid #3181A6;
    font-weight: normal; 
    padding-bottom: 5px;
}